.mapfre-img {
    width     : 200px;
    margin-top: 50px;
}

.sulamerica-img {
    width      : 200px;
    margin-top : 50px;
    margin-left: 50px;
}

.liberty-img {
    width      : 200px;
    margin-top : 50px;
    margin-left: 50px;
}

.allianz-img {
    width      : 200px;
    margin-top : 50px;
    margin-left: 50px;
}

.bradesco-img {
    width      : 120px;
    margin-top : 50px;
    margin-left: 45px;
}

.portoseguro-img {
    width      : 200px;
    margin-top : 50px;
    margin-left: 90px;
}

.itauseguros-img {
    width      : 150px;
    margin-top : 50px;
    margin-left: 80px;
}

.azul-img {
    width      : 100px;
    margin-top : 50px;
    margin-left: 100px;
}

.hdi-img {
    width      : 100px;
    margin-top : 60px;
    margin-left: 55px;
}

.tokiomarine-img {
    width      : 200px;
    margin-top : 40px;
    margin-left: 100px;
}

.zurich-img {
    width      : 200px;
    margin-top : 40px;
    margin-left: 60px;
}

.chubb-img {
    width      : 120px;
    margin-top : 40px;
    margin-left: 60px;
}